/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
.wrapper {
  margin: 0 auto;
  width:960px;
  position:relative;
}
.content {padding: 50px 0;}

.content section {padding-top: 50px;}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h2, h3, h4 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom:.4em;
  letter-spacing: -.02em;
}
h3 {font-size: 4em;}
h4 {font-size:3em;}
p {
  font-size:1.6em;
  line-height:1.6em;
  margin-bottom: 1.4em;
}
.photo {
  max-width:100%;
  position:relative;
  top:-1px;
}

/* =============================================================================
   NAVIGATION
   ========================================================================== */
nav {padding:15px 0;}
.nav-item {
  display: inline-block;
  margin-right:15px;
}
.nav-link {font-size: 1.4em;}

/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  padding: 100px 0 100px;
  text-align:center;
}
.logo-name {
  margin-bottom: 0;
  font-size: 10em;
  letter-spacing: -.04em;
}
.tagline {
  margin-bottom:50px;
  font-size: 2em;
  letter-spacing: -.02em;
}
.call-action-area .price {
  font-size:4em;
  vertical-align: center;
  margin-right:20px;
}
.call-action-area .call-action-link, .btn {
  position:relative;
  top:-5px;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size:2em;
  line-height:1em;
  vertical-align: center;
  letter-spacing: -.02em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.call-action-area .call-action-link:hover, .call-action-area .call-action-link:focus, .btn:hover, .btn:focus {top:0;}

/* =============================================================================
   ABOUT
   ========================================================================== */
.about {
  padding:19px;
  margin: 0 -20px 0;
}

/* =============================================================================
   SPEAKER
   ========================================================================== */
.speakers-item {
  position:relative;
  min-height:180px;
  padding-left: 180px;
  margin-bottom:30px;
  border-bottom:1px dashed #e7e7e7;
}
.speaker-photo {
  position:absolute;
  top:0;
  left:0;
  display: block;
  width: 120px;
  height: 120px;
}
.speech-title {
  padding-top:10px;
  font-size:2em;
  margin-bottom:1em;
}
.speech-time {
  font-size:18px;
  padding: 10px 15px;
  letter-spacing:-.03em;
}
.speakers-name{font-size:1.6em;}
.speakers-item p {font-size:1.4em;}

/* =============================================================================
   SCHEDULE
   ========================================================================== */
.schedule-tbl {
  padding:20px;
}
.schedule-tbl table {
  border-collapse: collapse;
  font-size:1em;
}
.schedule-tbl td, .schedule-tbl th {
  position:relative;
  padding:20px 30px;
  font-size:1.4em;
  line-height:1.4em;
  text-align:left;
}
.schedule-tbl th {
  padding: 5px 30px;
  color:#2b2b2b;
  font-size:2em;
  font-weight: bolder;
}
.schedule-tbl .speaker-photo {
  position:relative;
  width: 40px;
  height: 40px;
  float:left;
  margin-right:20px;
}
.schedule-tbl .schedule-time {
  text-align:center;
}
.schedule-slot {
  width: 250px;
  font-size:16px;
}
.speakers-company {
  display: block;
  font-size:12px;
}

/* =============================================================================
   SPONSORS  and  PARTNERS
   ========================================================================== */
.sponsor-item, .partner-item {
  display: inline-block;
  margin: 0 30px 30px 0;
}
.sponsor-link, .partner-link {
  display: block;
  width: 150px;
  height:150px;
  text-align:center;
  vertical-align: middle;
  line-height: 150px;
}

/* =============================================================================
   CONTATO
   ========================================================================== */
.form-contato label{
  font-size:16px;
  display: block;
  margin-bottom:.5em;
}
.control-group {
  height:auto;
  clear:both;
  margin-bottom:20px;
}
.control-group-name, .control-group-email {
  clear:none;
  width:467px;
  float:left;
  margin-right:25px;
}
.control-group-email {
  margin-right:0;
}
.form-contato input[type=text], .form-contato input[type=email], .form-contato textarea{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width:100%;
  min-height:15px;
  padding:10px;
  font-size:14px;
}
.form-contato textarea {height:300px;}
.form-contato .btn {
  float:right;
}



