@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block
}
body {
  line-height:1
}
ol,ul {
  list-style:none
}
blockquote,q {
  quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
  content:'';
  content:none
}
table {
  border-collapse:collapse;
  border-spacing:0
}
body {
  font:14px 'Ubuntu',sans-serif;
  font-weight:400;
  color:#333
}
.fright {
  float:right
}
a {
  color:#000;
  text-decoration:none
}
a:hover {
  text-decoration:underline;
  color:#b2b2b2
}
p {
  line-height:1.5em;
  margin-bottom: 15px;
  font-size: 1.4em;
  font-weight: 100;
}
h2 {
  font-size:2em
}
h3, .section-title {
  font-size: 3.5em;
  color: #333;
  margin-bottom: 25px;
}
.wrapper {
  width:960px;
  margin:auto
}
.header,.content {
  background:#fff;
  float:left;
  width:100%;
  box-shadow:0 0 0 1px #ccc;
  padding:15px 0
}
.logo {
  float:left;
  width: 100%;
}

.header .wrapper {
  position: relative;
  top: 130px;
  color: #FFF;
  text-align: center;
}

.header h3 {
color: #e8ce1e;
font-size: 2.5em;
text-shadow: 1px 2px 1px #333;
}

.infos-header {
  border-top: 1px solid #c5c5c5;
  padding: 0px 0 45px 0;
  float: left;
  width: 100%;
}

.infos-header span {
  width: 50%;
}

.infos-header span em {
  display: block;
  font-size: 26px;
  line-height: 4em;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 50px;
}



.nav li {
  float:left;
  padding:0 5px
}
.nav a {
  padding:13px 5px;
  font-size:16px;
  color:#666;
  width: 180px;
}
.nav-log-in,.nav {
  float:right;
  margin-top:20px
}
.content {
  box-shadow:none
}

.cover {
  width: 100%;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(1px);
}


/*.btn {
  padding: 20px 35px;
  max-width: 150px;
  border-radius:3px;
  font-size: 16px;
  line-height:1;
  color:#FFF;
  text-transform:uppercase;
  background: #ED145B;
  cursor: pointer;
}
.btn:hover {
  text-decoration:none;
  color: #FFF;
  opacity: .8;
}*/

.purchase {
  background: url("../img/purchase.png");
  display: block;
  height: 100px;
  width: 450px;
  padding-top: 28px;
  color: #FFF;
  font: bold 52px "Helvetica", sans-serif;
}


input[type=text],input[type=password],input[type=file],textarea,select {
  width:100%;
  padding:10px 10px;
  border:1px solid #ccc;
  color:#aaa;
  margin-bottom:10px;
  border-radius:3px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box
}
input[type=password] {
  width:74%
}
input[type=text]:focus,input[type=password]:focus,input[type=file]:focus,textarea:focus,select:focus {
  outline:0;
  color:#000;
  border-color:#999
}
input[type=submit] {
  padding:10px 15px;
  border-radius:3px;
  font-size:1.1em;
  margin:0;
  float:right;
  width:25%;
  background: #e7215f;
  width: 130px;
  height: 50px;
  color: #FFF;
  border: none;
  text-transform: uppercase;
}
label {
  float:left;
  min-width:50%
}
.old-password {
  font-size:12px;
  width:100%;
  margin:10px 0;
  float:left
}
input[type=checkbox] {
  float:left;
  margin:2px 5px 0 0;
  display:block
}
input.error {
  border-color:#b94a48;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #b94a48;
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #b94a48;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #b94a48
}

.clearfix:after {
  clear:both;
  content:' ';
  display:block;
  font-size:0;
  line-height:0;
  visibility:hidden;
  width:0;
  height:0
}
.clearfix {
  display:inline-block
}
* html .clearfix {
  height:1%
}
.clearfix {
  display:block
}
.row .colmain {
  width:640px;
  float:left
}
.row .colside,.row .colout-side {
  width:320px;
  float:right
}
.first,.alpha {
  margin-left:0!important
}
.last,.omega {
  margin-right:0!important
}
.col1,.col2,.col3,.col4,.col5,.col6,.one-third {
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
  -webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;
  -o-transition:all .2s ease;
  transition:all .2s ease
}
.row .col1 {
  width:140px
}
.row .col2 {
  width:300px
}
.row .col3 {
  width:460px
}
.row .col4 {
  width:620px
}
.row .col5 {
  width:780px
}
.row .col6 {
  width:940px
}
.row .colmain .col1 {
  width:140px
}
.row .colmain .col2 {
  width:300px
}
.row .colmain .one-third {
  width:193px
}
.row .colmain .col3 {
  width:460px
}
.row .colmain .col4 {
  width:620px
}
.row .colside .col1,.colout-side .col1 {
  width:140px
}
.row .colside .col2,.colout-side .col2 {
  width:300px
}
.row {
  zoom:1
}
.row:before,.row:after {
  display:table;
  content:"";
  zoom:1
}
.row:after {
  clear: both
}


.row  .img-speaker {
  width: 188px;
  text-align: center;
  position: relative;
}

.row .desc-speaker {
  width: 720px;
  margin-right: 0;
}

.desc-speaker h2 {
  font-size: 2.5em;
  margin-bottom: 25px;
}

.desc-speaker span {
  color: #e7215f;
}

.desc-speaker p {
}

.social {
  margin-top: 30px;
}

.social a {
  margin: 0 3px 0;
}

.social a:hover {
  -webkit-filter: saturate(5%);
              filter: saturate(5%)
}

.division {
  margin-bottom: 50px;
}

.speaker-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
}

.speaker-img {
  width: 188px;
  height: 200px;
}

.list-speaker {
  margin-bottom: 75px;
  position: relative;
}

.talk-btn, .bio-btn {
  min-width: 120px;
  float: left;
  text-align: center;
  color: #FFF !important;
  background: #c6c6c6;
}

.talk-btn.current, .bio-btn.current {
  display: none;
}

#tabs {
  position: absolute;
left: 10px;
bottom: 56px;
z-index: 999;
}

#tabs a {
  text-decoration: none;
}

.footer {
  /*background: #e7215f;*/
  padding: 55px 0;
  text-align: center;
  float: left;
  width: 100%;
  color: #000;
}

  .footer a {
    color: #ccc;
  }


.sponsor-item {
  display: inline-block;
  margin: 20px 20px 30px 0;
}

.sponsor-item img {
  width: 150px;
}


/* =============================================================================
   CONTATO
   ========================================================================== */
.form label{
  font-size:16px;
  display: block;
  margin-bottom:.5em;
}
.control-group {
  height:auto;
  clear:both;
  margin-bottom:20px;
}
.control-group-name, .control-group-email {
  clear:none;
  width:467px;
  float:left;
  margin-right:25px;
}
.control-group-email {margin-right:0;}
.form input[type=text], .form input[type=email], .form textarea{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width:100%;
  min-height:15px;
  padding:10px;
  font-size:14px;
}
.form textarea {height:300px;}
.form .btn {float:right;}

.form input[type=text], .form input[type=email], .form textarea{
  color:#777;
  border:1px solid #e7e7e7;
  background:#fff;
  border-radius:4px;
}
.form input[type=text]:focus, .form input[type=email]:focus, .form textarea:focus {border-color:#aaa;outline:0;}