{
  templateData:
    conf:
      name: "Conference name"
      description: "Conference description"
      date: "November 15"
      price: "$100"
      address: "Boulevard Kukulcan, 30, México"
      venue: "Coco Bongo"
      city: "Cancún"
    site:
      url: "http://confboilerplate.com"
      favicon: "http://braziljs.org/favicon.ico"
      googleanalytics: "UA-33656081-1"
    images:
      cover: "http://f.cl.ly/items/2X28422q1e3w0C2U1P3H/866591_24254643.jpg"
      facebook: "http://braziljs.org/img/fb-share.jpg"
    sections:
      about: true
      location: true
      speakers: true
      schedule: true
      sponsors: true
      partners: true
      contact: false
}