<!-- NAVIGATION -->
<nav id="nav">
  <ul class="wrapper">
    {{#each sections}}
      <li class="nav-item">
        <a href="#{{slug}}" title="{{label}}" class="nav-link">{{label}}</a>
      </li>
    {{/each}}
  </ul>
</nav>

<hr>
