<!-- NAVIGATION -->
<nav id="nav">
  <ul class="wrapper">
    {{#each sections}}
      <li class="nav-item">
        <a href="{{this.slug}}" title="{{this.label}}" class="nav-link">{{this.label}}</a>
      </li>
    {{/each}}
  </ul>
</nav>

<hr>
