{% if site.sections.schedule %}
<section id="schedule">
  <h3>Schedule</h3>
  <table>
  {% for hour in (0..23) %}
    {% for minute in (0..59) %}

      {% capture currenttime %}{{ hour }}h{% if minute < 10 %}0{% endif %}{{ minute }}{% endcapture %}

      {% for schedule in site.schedule %}
        {% if schedule.time == currenttime %}
        <tr>
          <td>{{ schedule.time }}</td>
          <td><strong>item</strong></td>
          <td>{{ schedule.name }}</td>
        </tr>
        {% endif %}
      {% endfor %}

      {% for speaker in site.speakers %}
        {% if speaker.presentation.time == currenttime %}
        <tr>
          <td>{{ speaker.presentation.time }}</td>
          <td>{{ speaker.presentation.title }}</td>
          <td>{{ speaker.presentation.description }}</td>
        </tr>
        {% endif %}
      {% endfor %}

    {% endfor %}
  {% endfor %}
  </table>
</section>
{% endif %}