{% if site.sections.speakers %}
<section id="speakers">
  <h3>Speakers</h3>
  <ul>
  {% for speaker in site.speakers %}
    <li>
      <img src="{{ speaker.photo }}" alt="{{ speaker.name }} - Photo">
      <p class="time">{{ speaker.presentation.time }}</p>
      <p class="title">{{ speaker.presentation.title }}</p>
      <p class="name">{{ speaker.name }}</p>
      <a href="http://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>
      <p class="bio">{{ speaker.bio }}</p>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}