{% if site.sections.speakers %}
<!-- SPEAKERS -->
<section class="speakers" id="speakers">

  <h2 class="section-title">Speakers</h2>

  <ul class="speakers-list">
  {% for speaker in site.schedule %}
    {% if speaker.presentation %}
      <li class="speakers-item">
        <span class="speaker-photo"><img class="photo" src="{{ speaker.photo }}" alt="{{ speaker.name }}" /></span>
        <h3 class="speech-title"><span class="speech-time">{{ speaker.presentation.time }}</span> {{ speaker.presentation.title }}</h3>
        <h3 class="speakers-name">{{ speaker.name }} <a href="http://www.twitter.com/{{ speaker.twitter }}" title="Twitter @{{ speaker.twitter }}">@{{ speaker.twitter }}</a></h3>
        <p class="speakers-bio">{{ speaker.bio }}</p>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

</section>
<!-- / SPEAKERS -->
{% endif %}