---
layout: default
---
<div id="profile" class="row">
  <div class="span4">
    {% if page.image %}
      <div id="profile-photo">
        <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" width="200" height="200" />
      </div>
    {% endif %}
  </div>

  <div class="span11">
    <h1>
      {{ page.name }}
      <small>{{ page.role }}</small>
    </h1>

    {{ page.bio }}

    <ul>
      {% if page.linkedin %}
        <li><a href="http://www.linkedin.com/in/{{ page.linkedin }}">Connect on LinkedIn</a></li>
      {% endif %}

      {% if page.twitter %}
        <li><a href="http://twitter.com/{{ page.twitter }}">Follow on Twitter</a></li>
      {% endif %}

      {% if page.github %}
        <li><a href="http://github.com/{{ page.github }}">Follow on GitHub</a></li>
      {% endif %}
    </ul>
  </div>
</div>
