---
layout: default
---

<div id="speaker-page">
  {% if page.speaker['employee'] %}
    <h2>Core Speaker Members</h2>

    <ul class="speaker row">
      {% for person in page.speaker['employee'] %}
        <li class="person span3">
          <a href="/speaker/{{ person[0] }}">
            {% if person[1].image %}
              <img src="{{ person[1].image.url }}" title="{{ person[1].image.title }}" alt="{{ person[1].image.alt }}" width="150" />
            {% endif %}

            <p>
              {{ person[1].name }}
              <br />
              <small>{{ person[1].role }}</small>
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if page.speaker['contractor'] %}
    <h2>Awesome People We Work With</h2>

    <ul class="speaker row">
      {% for person in page.speaker['contractor'] %}
        <li class="person span3">
          <a href="/speaker/{{ person[0] }}">
            {% if person[1].image %}
              <img src="{{ person[1].image.url }}" title="{{ person[1].image.title }}" alt="{{ person[1].image.alt }}" width="150" />
            {% endif %}

            <p>
              {{ person[1].name }}
              <br />
              <small>{{ person[1].role }}</small>
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if page.speaker['alumni'] %}
    <h2>Alumni</h2>

    <ul class="speaker row">
      {% for person in page.speaker['alumni'] %}
        <li class="person span3">
          <a href="/speaker/{{ person[0] }}">
            {% if person[1].image %}
              <img src="{{ person[1].image.url }}" title="{{ person[1].image.title }}" alt="{{ person[1].image.alt }}" width="150" />
            {% endif %}

            <p>
              {{ person[1].name }}
              <br />
              <small>{{ person[1].role }}</small>
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
